{% extends 'polls/base.html' %}
{% load static %}

{% block cssblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/cart.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/vendor.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/main.css' %}">
<!--    <link rel="stylesheet" type="text/css" href="{% static 'polls/images/ajax-loader.gif' %}">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
{% endblock %}

{% block cart_content %}
<div class="row" style="padding-top: 150px; padding-bottom: 100px; width: 100%;">
	<div class="col-lg-12">
		<div class="box-element">

			<a  class="btn btn-outline-dark" href="{% url 'home' %}">&#x2190; Continue Shopping</a>

			<br>
			<br>
			<table class="table">
				<tr>
					<th><h5>Items: <strong>{{order.get_cart_items}}</strong></h5></th>
					<th><h5>Total:<strong> ${{order.get_cart_total}}</strong></h5></th>
					<th>
						<a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
					</th>
				</tr>
			</table>

		</div>

		<br>
		<div class="box-element">
			<div class="cart-row">
				<div style="flex:2"></div>
				<div style="flex:2"><strong>Item</strong></div>
				<div style="flex:1"><strong>Price</strong></div>
				<div style="flex:1"><strong>Quantity</strong></div>
				<div style="flex:1"><strong>Total</strong></div>
			</div>
			{% for item in items %}

			<div class="cart-row">
				<div style="flex:2"><img class="row-image" src="{{item.product.ImageURL}}"></div>
				<div style="flex:2"><p>{{item.product.name}}</p></div>
				<div style="flex:1"><p>${{item.product.price}}</p></div>
				<div style="flex:1">
					<p class="quantity">{{item.quantity}}</p>
					<div class="quantity">
						<img data-product={{item.product.id}} data-action="add" class="chg-quantity update-cart" src="{% static  'polls/images/arrow-up.png' %}">

						<img data-product={{item.product.id}} data-action="remove" class="chg-quantity update-cart"  src="{% static  'polls/images/arrow-down.png' %}">
					</div>
				</div>
				<div style="flex:1"><p>${{item.get_total}}</p></div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}


{% block jsblock %}

    <script src="{% static 'polls/js/jquery-1.11.0.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="{% static 'polls/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'polls/js/plugins.js' %}"></script>
    <script type="text/javascript" src="{% static 'polls/js/script.js' %}"></script>
    <script src="{% static 'polls/js/modernizr.js' %}"></script>
    <script src="{% static 'polls/js/cart.js' %}"></script>
    <script type="text/javascript">
      var user = '{{request.user}}'
      function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');
    </script>

{% endblock %}